<div class="footer">
	<div class="footimg x c12 top8">
		<%= image_tag "images/footer.svg", class: "hidde" %>
	</div>
	<div class="footimg x c12 top7">
		<%= image_tag "images/footer.svg", class: "hidde" %>
	</div>
	<div class="footimg x c12 top6">
		<%= image_tag "images/footer.svg", class: "hidde" %>
	</div>
	<div class="footimg x c12 top5">
		<%= image_tag "images/footer.svg", class: "hidde" %>
	</div>
	<div class="footimg x c12 top4">
		<%= image_tag "images/footer.svg", class: "hidde" %>
	</div>
	<div class="footimg x c12 top3">
		<%= image_tag "images/footer.svg", class: "hidde" %>
	</div>
	<div class="footimg x c12 top2">
		<%= image_tag "images/footer.svg", class: "hidde" %>
	</div>
	<div class="footimg x c12 top">
		<%= image_tag "images/footer.svg", class: "hidde" %>
	</div>
	<div class="footimg x c12">
		<%= image_tag "images/footer.svg" , class: "parent" %>
	</div>
	
</div>